body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 0;
    background-color: #eba000; /* Orange *
}

.fleet-manager {
    background-color: #eba000; /* Orange */
    color: #ffffff;
    background-size: contain; /* Scale background image to fit within the container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center center;
    background-image: url('https://raw.githubusercontent.com/anarchyram/ASOP-Terminal-replica/d1b699bf46d366829f36932329fa5f31dd2bf848/1.svg');
    margin-bottom: 5px;

    /* Add any other styles you need */
}

.header {
    background-color: #000000; /* Black */
    padding: 10px;
    margin-bottom: 20px;
}

.title {
    font-size: 50px;
    color: #eba000;
    background-color: #000000; /* Black */
}

.ship-list {
    display: flex;
    flex-direction: column;
}

.ship-item {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    border: 2px solid transparent;
    border-bottom: 5px solid #000000; /* Add a bottom border */
    padding-bottom: 10px; /* Add padding to create space between items */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ship-item:hover {
    border-color: #eba000;
        transition: border-color 0.3s ease;
}

.ship-info {
    display: flex;
    flex-wrap: wrap;
}

.attribute {
    flex: 1;
    margin-right: 10px;
    white-space: nowrap;
    font-size: 20px;
}

.attribute.action {
    flex: 1;
    text-align: right;
}

.selected {
    background-color: #000000; /* Black background for selected item */
}

.ship-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.status {
    font-style: italic;
    margin-bottom: 5px;
}

.focus,
.cargo-size,
.crew-size {
    margin-bottom: 5px;
}

.action {
    font-weight: bold;
}

.stored {
    color: green;
}

.not-stored {
    color: red;
}

.delivered {
    color: green;
}

.retrieved {
    color: red;
}
.attribute.status .attribute-value {
    cursor: pointer;
    
}
.attribute-title {
    font-size: 20px;
    color: #eba000;
    background-color: #000000;
    border-top: 5px solid #ffffff; /* Add a bottom top */ 
    margin-bottom: 5px;
}
.attribute-value {
    font-size: 15px;

}

.ship-info {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping by default */
}

.ship-info .attribute {
    white-space: nowrap; /* Prevent wrapping for all attributes except ship names */
}

.ship-info .attribute.vehicle-name {
    white-space: normal; /* Allow ship names to wrap */
}

@media screen and (max-width: 768px) {
    .ship-info {
        flex-wrap: wrap; /* Allow wrapping for smaller screens */
    }

    .ship-info .attribute {
        flex: 1 1 50%; /* Two attributes per row */
    }
}
/* Add styles for deselected ship items */
.ship-item:not(.selected) {
    background-color: transparent;
    color: #000000; /* Change font color to black */
}